@media screen and (max-device-width: 360px){
	#p1 {
		background-color: blue;
	}
	#p2 {
		background-color: white;
	}
	#p3 {
		background-color: red;
	}
	#img {
	width: 100%;
	}
	#logo-iut {
		display: block;
		width: 100%;
		position: center;
	}
	html { font-size: 62.5%; } /* 1rem vaut 10px */
	body { font-size: 1.6rem; } /* 1.6 rem vaut 16px */
	h1   { font-size: 8vw; } 

	#tableau {
		display: block;
		
	}
}