img, table, td, blockquote, code, pre, textarea, input, iframe, object, video {
    max-width: 100%;
}

#p1 {
	background-color: blue;
}
#p2 {
	background-color: white;
}
#p3 {
	background-color: red;
}