html{
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
	background: url("../img/background.jpg");
	background-size: 100% 100%;
}
p, h1, h2, footer {
	color: white;
	text-align: justify;
}
/*** LOGO ***/
#logo {
	display: block;
	float: left;
	width: 15%;
	height: 15%;
	margin-top: 1em;
}

/****** HEADER ******/

#header  {
	white-space: nowrap; /* Interdiction de passer à la ligne */
	height: 10em; /* hauteur du parent */
 	line-height: 10em; /* hauteur de ligne (identique) */
	float: right;
}

#header a {
	text-decoration: none;
	color: white
}


/*** BANNIERE ***/
#banniere {
	display: block;
	width: 100%;
	height: auto;
	float: left;
}
#banniere_mercedes {
	display: block;
	width: 90%;
	height: auto;
	margin-right: 5%;
	margin-left: 5%;
}

/**** PARTIE1 *****/

#partie1{
	display: block;
	width: 100%;
	height: auto;
	float: left;
}

/*** LISTE MODELE***/
#liste_modele {
	display: block;
	float: left;
	width: 100%;
	height: auto;
}
#liste_modele #image1 {
	
	display: block;
	float: left;
	width: 20%;
	height: auto;
}
#liste_modele #description1 {
	width: 100%;
	height: auto;
	margin-left: 5%;
}

#liste_modele #image2 {
	display: block;
	float: left;
	width: 20%;
	height: auto;
	margin-left: 5%;
}
#liste_modele #description2 {
	width: 100%;
	height: auto;
	margin-left: 5%;
}
#liste_modele #image3 {
	position: relative;
	width: 20%;
	float: left;
	/*margin-right: 5%;*/
	margin-left: 5%;
}
#liste_modele #description3 {
	width: 100%;
	height: auto;
	margin-left: 5%;
}
#liste_modele #image4 {
	display: block;
	float: left;
	width: 20%;
	height: auto;
	margin-left: 5%;
}
#liste_modele #description4 {
	width: 100%;
	height: auto;
	margin-left: 5%;
}

#bas_page{
	display: block;
	width: 100%;
	height: auto;
	float: left;
}
#google {
	display: block;
	width: 50%;
	float: left;
}

#contact{
	display: block;
	width: 50%;
	float: right;
}
#formulaire {
	float: left;
	width: 100%;
	height: auto;
	margin: 0 auto;
    padding: 1em;
    border-left: 1px solid #CCC;
    display: inline;
    text-align: right;
}
#prenom {
	width: 45%;
	float: left;
	display: block;
}
#nom {
	width: 45%;
	float: right;
	margin-right: 5%;
	display: block;
}
input, textarea {
    /* Afin de s'assurer que tous les champs textuels utilisent la même police
       Par défaut, textarea utilise une police à espacement constant */
    font: 1em sans-serif;

    /* Pour donner la même dimension à tous les champs textuels */
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Pour harmoniser l'apparence des bordures des champs textuels */
    border: 1px solid #999;
}

form input + input {
    margin-top: 1em;
}
input:focus, textarea:focus {
    /* Afin de rehausser les éléments actifs */
    border-color: #000;
}

footer {
	display: block;
	float: right;
	width: auto;
	height: auto;
}