html{
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
	background: url("../img/background.jpg");
	background-size: 100% 100%;
}
p, h1, h2, footer {
	color: white;
	text-align: justify;
}
/*** LOGO ***/
#logo {
	display: block;
	float: left;
	width: 15%;
	height: 15%;
	margin-top: 1em;
}
#menu_burger {
	display: none;
}

/****** HEADER ******/

#header  {
	white-space: nowrap; /* Interdiction de passer à la ligne */
	height: 10em; /* hauteur du parent */
 	line-height: 10em; /* hauteur de ligne (identique) */
	float: right;
}

#header a {
	text-decoration: none;
	color: white
}


/*** BANNIERE ***/
#banniere {
	display: block;
	width: 100%;
	height: auto;
	float: left;
}
#banniere_mercedes {
	display: block;
	width: 90%;
	height: auto;
}

/**** PARTIE1 *****/

#partie1{
	display: block;
	width: 100%;
	height: auto;
	float: left;
}

/*** LISTE MODELE***/
#liste_modele {
	display: inline-block;
	float: left;
	width: 100%;
	height: auto;
	position: relative;
}
.colonne {
	display: block;
	float: left;
	width: 25%;
	height: auto;
}
.image {
	width: 90%;
	height: auto;
	position: relative;
}
.description {
	width: 90%;
	height: auto;
	position: relative;
}
#bas_page{
	display: block;
	width: 100%;
	height: auto;
	float: left;
}
#google {
	display: block;
	width: 49%;
	float: left;
}

#contact{
	display: block;
	width: 50%;
	float: right;
}
#formulaire {
	float: left;
	width: 100%;
	height: auto;
	margin: 0 auto;
    padding: 1em;
    border-left: 1px solid #CCC;
    display: inline-block;
    text-align: right;
}
#prenom, #age, #nom, #ville_naissance {
	width: 47%;
	float: left;
	display: inline-block;
	vertical-align: top;
	margin-right: 2%;
}
#email, #photo  {
	width: 97%;
	float: left;
	display: block;
	vertical-align: top;
}
#message {
	width: 97%;
	float: left;
	height: 5em;
	display: block;
	margin-top: 3%;
	vertical-align: top;
}
#envoyer {
	width: 20%;
	margin-right: 2%;
	height: auto;
	float: right;
	display: inline-block;
}
#telephone {
	display: none;
}

form input  {
    margin-top: 1em;
}
input:focus, textarea:focus {
    /* Afin de rehausser les éléments actifs */
    border-color: #000;
}
iframe {
	width: 100%;
}

footer {
	display: block;
	float: right;
	width: auto;
	height: auto;
}